.kiki {
  background-image: url(../../assets/kiki.png);
  background-position: center;
  background-size: contain;
  width: 10vw;
  height: 25vh;
  background-repeat: no-repeat;
}
.ageo {
  background-image: url(../../assets/ageo.png);
  background-position: center;
  background-size: contain;
  width: 10vw;
  height: 25vh;
  background-repeat: no-repeat;
}
.lamu {
  background-image: url(../../assets/lamu.png);
  background-position: center;
  background-size: contain;
  width: 10vw;
  height: 25vh;
  background-repeat: no-repeat;
}
.ccoli {
  background-image: url(../../assets/ccoli.png);
  background-position: center;
  background-size: contain;
  width: 10vw;
  height: 25vh;
  background-repeat: no-repeat;
}
.bibi {
  background-image: url(../../assets/bibi.png);
  background-position: center;
  background-size: contain;
  width: 10vw;
  height: 25vh;
  background-repeat: no-repeat;
}
.crown{
  background-image: url(../../assets/crown.png);
  background-position: right;
  background-size: contain;
  width: 3vw;
  background-repeat: no-repeat;
}
.asset{
  background-image: url(../../assets/asset.png);
  background-position: left;
  background-size: contain;
  width: 3vw;
  background-repeat: no-repeat;
}
.consumption{
  background-image: url(../../assets/consumption.png);
  background-position: left;
  background-size: contain;
  width: 3vw;
  background-repeat: no-repeat;
}
.fine{
  background-image: url(../../assets/fine.png);
  background-position: left;
  background-size: contain;
  width: 3vw;
  background-repeat: no-repeat;
}
.saving{
  background-image: url(../../assets/saving.png);
  background-position: left;
  background-size: contain;
  width: 3vw;
  background-repeat: no-repeat;
}