.sideNav {
  font-size: 20px;
}

@media (max-width: 768px) {
  .sideNav {
    font-size: 14px;
  }
}
.hoverable {
  cursor: pointer; /* 마우스 커서를 포인터(클릭 가능한)로 설정 */
  user-select: none; /* 텍스트 선택을 금지할 수 있습니다. 선택적으로 사용하세요. */
}

.logo {
  background-image: url(../../assets/logo.png);
  background-position: center;
  background-size: contain;
  width: 15vw;
  background-repeat: no-repeat;
}

.info-label {
  font-family: 'Your-Preferred-Font', "KCC-Ganpan"; /* 원하는 글꼴 설정 */
  font-size: 16px; /* 원하는 글꼴 크기 설정 */
  color: #333; /* 원하는 텍스트 색상 설정 */
  /* 다른 스타일 설정도 추가할 수 있습니다 */
}

.rating {
  font-family: 'Your-Preferred-Font', "KCC-Ganpan"; /* 원하는 글꼴 설정 */
  font-size: 18px; /* 원하는 글꼴 크기 설정 */
  font-weight: bold; /* 글꼴 굵기 설정 */
  color: #ff6600; /* 원하는 텍스트 색상 설정 */
  /* 다른 스타일 설정도 추가할 수 있습니다 */
}
.vertical-line {
  border-right: 1px solid white; /* 원하는 선 스타일 및 색상으로 변경하세요 */
  padding-right: 15px; /* 원하는 간격으로 변경하세요 */
}
.info-cell {
  border-right: 1px solid white; /* 원하는 선 스타일 및 색상 설정 */
  padding: 5px 10px; /* 원하는 여백 설정 */
}

/* 마지막 <td> 요소의 오른쪽 구분선을 제거합니다. */
.info-cell:last-child {
  border-right: none;
}

/*메뉴*/
.menu-button{
  font-size: 1.3rem;
  margin: 0.5rem;
  border: 1px solid #000;
  border-color: #343a40;
  border-width: 3px;
  text-align: center;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 50rem;
}

/*수정, 삭제 메뉴 버튼*/
.content-button{
  font-size: 1.25rem;
  background-color: #FFFEEE;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-width: 3px;
  border-radius: 50rem;
  border-color: #343a40;
  border: 3px solid #000;
  text-align: center;
}

/*modal 버튼*/
.modal-button{
  border-radius: 10rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: 2px solid #000;
}

/*추가 버튼*/
.create-button{
  font-size: 1.25rem;
  background-color: #ffc107;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 50rem;
  border-width: 3px;
  border-color: #343a40;
  border-style: solid;
  text-align: center;
}
